<div class="comment texts" id="comment-<%= comment.id %>">
  <div class="body">
    <h2><%- comment.caption %> <small><%- comment.from.name %></small> <small class="easydate"><%- comment.created_at %></small></h2>    
    <pre class="content"><%- comment.message %></pre>
  </div>
</div>