<div class="pagination">
  <ul>
    <li class="prev <%- isFirstPage ? "disabled" : "" %>"><a href="/page/<%= isFirstPage ? "1" : (parseInt(currentPage) - 1) %>">&larr; Previous</a></li>

    <% for (idx=0; idx<pagination.length; idx++) { %>      
    <% page = pagination[idx]; %>
      <% if (currentPage == page) { %>
        <li class="active"><a href="/page/<%= page %>"><%= page %></a></li>
      <% } else { %>
        <li><a href="/page/<%= page %>"><%= page %></a></li>
      <% } %>
    <% } %>  
  
    <li class="next <%- isLastPage ? "disabled" : "" %>"><a href="/page/<%= isLastPage ? pageCount : (parseInt(currentPage) + 1) %>">Next &rarr;</a></li>

  </ul>
</div>